<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.gsq.scs.mapper.LocalUserMapper" >
  <resultMap id="BaseResultMap" type="com.sugon.gsq.scs.entity.LocalUserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="failed_auth_count" property="failedAuthCount" jdbcType="INTEGER" />
    <result column="failed_auth_at" property="failedAuthAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, domain_id, name, failed_auth_count, failed_auth_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from local_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from local_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sugon.gsq.scs.entity.LocalUserEntity" >
    insert into local_user (id, user_id, domain_id,
      name, failed_auth_count, failed_auth_at
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{domainId,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{failedAuthCount,jdbcType=INTEGER}, #{failedAuthAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sugon.gsq.scs.entity.LocalUserEntity" >
    insert into local_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="domainId != null" >
        domain_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="failedAuthCount != null" >
        failed_auth_count,
      </if>
      <if test="failedAuthAt != null" >
        failed_auth_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="failedAuthCount != null" >
        #{failedAuthCount,jdbcType=INTEGER},
      </if>
      <if test="failedAuthAt != null" >
        #{failedAuthAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sugon.gsq.scs.entity.LocalUserEntity" >
    update local_user
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        domain_id = #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="failedAuthCount != null" >
        failed_auth_count = #{failedAuthCount,jdbcType=INTEGER},
      </if>
      <if test="failedAuthAt != null" >
        failed_auth_at = #{failedAuthAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sugon.gsq.scs.entity.LocalUserEntity" >
    update local_user
    set user_id = #{userId,jdbcType=VARCHAR},
      domain_id = #{domainId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      failed_auth_count = #{failedAuthCount,jdbcType=INTEGER},
      failed_auth_at = #{failedAuthAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
