<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.gsq.scs.mapper.LocalPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.sugon.gsq.scs.entity.LocalPasswordEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="local_user_id" property="localUserId" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="expires_at" property="expiresAt" jdbcType="TIMESTAMP" />
    <result column="self_service" property="selfService" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, local_user_id, password, expires_at, self_service, created_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sugon.gsq.scs.entity.LocalPasswordEntity" >
    insert into password (id, local_user_id, password,
      expires_at, self_service, created_at
      )
    values (#{id,jdbcType=INTEGER}, #{localUserId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR},
      #{expiresAt,jdbcType=TIMESTAMP}, #{selfService,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sugon.gsq.scs.entity.LocalPasswordEntity" >
    insert into password
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="localUserId != null" >
        local_user_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="expiresAt != null" >
        expires_at,
      </if>
      <if test="selfService != null" >
        self_service,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="localUserId != null" >
        #{localUserId,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="expiresAt != null" >
        #{expiresAt,jdbcType=TIMESTAMP},
      </if>
      <if test="selfService != null" >
        #{selfService,jdbcType=BIT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sugon.gsq.scs.entity.LocalPasswordEntity" >
    update password
    <set >
      <if test="localUserId != null" >
        local_user_id = #{localUserId,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="expiresAt != null" >
        expires_at = #{expiresAt,jdbcType=TIMESTAMP},
      </if>
      <if test="selfService != null" >
        self_service = #{selfService,jdbcType=BIT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sugon.gsq.scs.entity.LocalPasswordEntity" >
    update password
    set local_user_id = #{localUserId,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      expires_at = #{expiresAt,jdbcType=TIMESTAMP},
      self_service = #{selfService,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
